.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
*/

/*
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

/* root variables */
:root {
  --red: red;
  --gold: gold;
  --text: white;
  --background: #0d110bf5;
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

/* Main */
body {
  min-height: 100vh;
  margin: 0 auto;
  background-image: url(images/sakura-background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: top left;
  background-repeat: no-repeat;
  color:var(--text);
}

main {
  min-height: 100vh;
  width: 100vw;
  background:black;
  background:rgba(0,0,0,0.5);
  backdrop-filter: blur(6px);
  
  margin: auto;
}
/* Header and footer */
.App-header, footer {
  background-color: var(--background);
  min-height: 08vh;
  display: flex;
  align-items: center;
  font-size: calc(10px + 1.2vmin);
  color: var(--text);
}
.logo-link a {
  text-decoration: none;
  color:var(--text);
  margin-left: 30px;
  margin-right: 40px;
  padding: 10px 40px 10px 10px;
}
.logo-link a:visited{
  text-decoration: none;
}

footer {
  justify-content: center;
}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a{
  float: left;
  color: var(--text);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #681f0dbd;
  color: var(--text);
  border-radius: 10px;
}